.homepage_background {
  font-family: Helvetica;
}

.home_background {
  background-image: url("logo_background.jpg");
}

.welcome_statement {
  color: white;
  text-shadow: 2px 2px black;
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
}

.navbar {
  margin-top: 0;
  background-color: white;
  position: sticky;
  padding: 1px;
}

.nav-title {
  font-size: 2em;
  text-align: center;
  padding-bottom: 3px;
}

.logout_button {
  text-decoration: none;
  float: right;
  font-size: 1em;
  color: black;
  margin-bottom: 0;
}

.logout_button:hover {
  background-color: none;
  color: #4361ee;
}

.all_users_button {
  text-decoration: none;
  font-size: 1em;
  color: black;
  padding-left: 5px;
  padding-top: 5px;
  border-left: 1px solid black;
  padding-right: 5px;
  margin-bottom: 0;
}

.all_users_button:hover {
  color: #4361ee;
}

.delete_button {
  background-color: #dc143c;
  text-shadow: none;
  color: black;
  border: black 2px;
  border-style: ridge;
  padding: 1.5px;
  border-radius: 0.3em;
}

.delete_button:hover {
  background-color: red;
  text-shadow: none;
  color: black;
}

.update_button {
  background-color: #e9ecef;
  text-shadow: none;
  color: black;
  border: 2px solid black;
  padding: 1px;
  border-radius: 0.3em;
}

.update_button:hover {
  background-color: none;
  text-shadow: none;
}

.create_button {
  margin-left: 2em;
  border-radius: 0.3em;
  padding: 1px;
  color: black;
  padding-top: 5px;
  padding-right: 5px;
  margin-bottom: 0;
}

a:link {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #4361ee;
}

html,
body {
  padding: 0;
  margin: 0;
}

.all_table {
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-left: 33%;
}

.create_table {
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  margin-left: 29%;
}

th {
  padding: 5px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

td {
  padding: 5px;
  border-spacing: 2em;
  border: 1px solid black;
}

.table_styling {
  justify-content: center;
  align-items: center;
}

.create_show_title {
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
  color: white;
  text-shadow: 2px 2px black;
}

.create_nav {
  background-color: #ded6d1;
  padding: 0.25em;
}

.create_forms {
  margin-left: 20em;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.cancel_button {
  color: black;
  padding: 1px 6px;
  border: 1px solid black;
  font-size: 15px;
  border-radius: 0.2em;
}

.cancel_button_align {
  text-align: center;
  margin-left: 50px;
}

.submit_button_align {
  text-align: center;
}

.cancel_button:hover {
  color: black;
}

.signing_style {
  border: none;
  color: red;
}

.centering {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.link_flexbox {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.logout_alignment {
  justify-content: flex-end;
}

.button_nav {
  position: fixed;
}

.your_show {
  text-align: center;
  font-size: 2em;
}

.create_show2 {
  float: right;
  margin-bottom: 1em;
}

.home_image {
  margin-left: 10px;
  size: 500px;
}

.login_image {
  text-align: center;
  justify-content: center;
  margin-left: 50em;
}

.title {
  font-size: 4em;
  text-align: center;
}

.center_button {
  text-align: center;
  justify-content: center;
  margin-left: 41em;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 1em;
  padding: 6px;
  color: black;
}

.center_button:hover {
  background-color: #4361ee;
  color: white;
}

.center_image {
  text-align: center;
}
