{% extends 'base.html' %}{% block content %}
<body class="homepage_background">
  <nav class="navbar">
    <a class="logout_button" href="{% url 'logout' %}">Logout</a>
    <p class="nav-title">Show Viewer</p>
  </nav>
  <a class="logout_button" href="{%url 'home' %}">Home</a>
  <br />
  <table class="table_background">
    <tr>
      <th class="th_background">Provider</th>
      <th class="th_background">Network</th>
      <th class="th_background">Show</th>
    </tr>
    {%for f in form%}
    <tr>
      <td>{{f.provider}}</td>
      <td>{{f.network}}</td>
      <td>{{f.show}}</td>
    </tr>
    {%endfor%}
  </table>
  {%endblock%}
</body>
