{% extends 'base.html' %}{%load static%}{% block content %}
<div class="">
  <body class="homepage_background">
    <nav class="navbar">
      <div class="link_flexbox">
        <div class="column">
          <a class="create_button" href="{%url 'create'%}">Create A Show</a>
          <a class="all_users_button" href="{%url 'table' %}">
            View Your Shows</a
          >
          <a class="all_users_button" href="{% url 'all' %}">View All Users</a>
        </div>
        <div class="column">
          <a class="logout_button" href="{% url 'logout' %}">Logout</a>
        </div>
      </div>
      <hr />
      <h1 class="title">Get Started</h1>
      <div class="center_image">
        <img
          src="{%static 'center_photo.jpg' %}"
          alt="picture of a remote pointed at a tv"
        />
      </div>
      <br />
      <br />
      <a class="center_button" href="{%url 'create'%}">Create A Show</a>
    </nav>
    <header>
      <p></p>
    </header>
  </body>
  {%endblock%}
</div>
